name: streamlink-service

on: [push, workflow_dispatch]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: streamlink-service deploy
        env:
          STREAMLINK_SERVICE_TOKEN: ${{ secrets.STREAMLINK_SERVICE_TOKEN }}
        run: |
          pip install versioningit
          VERSION=$(versioningit)
          CONTENT=$(echo $VERSION | base64 -)
          ENDPOINT=vstavrinov/streamlink-service/contents
          curl -s -X POST                                         \
              -H "Accept: application/vnd.github.v3+json"         \
              -H "Authorization: token $STREAMLINK_SERVICE_TOKEN" \
              -d '{"message": "Update streamlink to '$VERSION'",
                   "content": "'$CONTENT'"
                  }'                                              \
          https://api.github.com/repos/$ENDPOINT/streamlink-version
          ENDPOINT=vstavrinov/streamlink-service/actions/workflows/main.yml
          COMMIT=$(git rev-parse --short $GITHUB_SHA)
          curl -s -X POST                                         \
              -H "Accept: application/vnd.github.v3+json"         \
              -H "Authorization: token $STREAMLINK_SERVICE_TOKEN" \
              -d '{"ref": "master",
                   "inputs":
                       {"streamlink": "'$COMMIT'"}
                  }'                                              \
          https://api.github.com/repos/$ENDPOINT/dispatches
